.div {
	background-image: url(./arm-back-muscles.JPG);
}

.div1 {
	height: 750px;
	width: 500px;
	border: 2px solid red;
	float: left;
	background-size: 200% 200%;
	background-image: linear-gradient(to top, rgb(255, 128, 128),
		rgba(255, 255, 0, 0.434));
}

.div2 {
	color: rgb(43, 226, 83);
}

.div3 {
	background: #e00d0d;
	color: rgb(8, 228, 56);
}

.div4 {
	background-image: url("Form_BG_IMG.jpg");
	background-repeat: no-repeat, repeat;
	background-color: #cccccc;
}

.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image td,
.table-image th {
  vertical-align: middle;
}

/* Iphone  */
@media screen and (min-width:360px) and (max-width:430px) {
	.div {
		background-image: url(./arm-back-muscles.JPG);
	}
	.div1 {
		height: 900px;
		width: 385px;
		border: 2px solid red;
		float: left;
		background-size: 200% 200%;
		background-image: linear-gradient(to top, rgb(255, 128, 128),
			rgba(255, 255, 0, 0.434));
	}
	.div2 {
		color: rgb(43, 226, 83);
	}
	.div3 {
		background: #e00d0d;
		color: rgb(8, 228, 56);
	}
	.div4 {
		background-image: url("Form_BG_IMG.jpg");
		background-repeat: no-repeat, repeat;
		background-color: #cccccc;
	}
}



@media screen and (min-width:1360px) and (max-width:1430px) {
	.div {
		background-image: url(./arm-back-muscles.jpg);
	}
	.div1 {
		height: 500px;
		width: 500px;
		border: 2px solid red;
		float: left;
		background-size: 150% 150%;
		background-image: linear-gradient(to top, rgba(0, 128, 0, 0.466),
			rgba(255, 255, 0, 0.434));
	}
	.div2 {
		color: rgb(43, 226, 83);
	}
	.div3 {
		background: #e00d0d;
		color: rgb(8, 228, 56);
	}
}